# Ignore virtual environment
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore csv files
*.csv

# Ignore datasets folder
datasets/

# Ignore pkl files
*.pkl